In [2]:
print("hello where are you")

hello where are you

In [3]:
a="hello where are you"
print(a)
type(a)

hello where are you

str

In [4]:
name='kuldeep' #it is also astring 
name

'kuldeep'

In [5]:
st="it's my pen." # in this condition we have to use " "
print(st)

it's my pen.

In [6]:
st='my name is "kuldeep" and you' # in this condition we use ' ' for outside
print(st)

my name is "kuldeep" and you

In [7]:
print("hello \nwhere are you")

hello
where are you

In [8]:
print("my")
print("name is")
print("kuldeep")

my
name is
kuldeep

In [9]:
# \n for new line
# \t for tab
print("hello \nwhere \tare you")

hello
where 	are you

In [10]:
p="Python is an interpreted, high-level and general-purpose programming language.Python's design philosophy emphasizes code readability with its notable use of significant whitespace."
print(p)

Python is an interpreted, high-level and general-purpose programming language.Python's design philosophy emphasizes code readability with its notable use of significant whitespace.

In [11]:
# for multiple line """
p="""Python is an interpreted, 
high-level and general-purpose programming language.
Python's design philosophy
emphasizes code readability 
with its notable use of significant whitespace."""
print(p)

Python is an interpreted,
high-level and general-purpose programming language.
Python's design philosophy
emphasizes code readability
with its notable use of significant whitespace.

#  print() shift + tab it show its documentation
#  str. tab it show its function

In [12]:
# help(print)
print("my",end= " ")
print("is",end=" ")
print("kuldeep",end=" ")

my is kuldeep

# indexing

In [13]:
# index left to right 0,1,2....so on
name = "kuldeep"
name[3]

'd'

In [14]:
# from last -1,-2.....so on
name = "kuldeep"
name[-1]

'p'

In [15]:
# when string is long
st="hemwati nandan bahuguna garhwal univercity srinagar garhwal uttarakhand"
st.index("s")

43

In [16]:
st[43]

's'

# slicing

In [52]:
# slicing
# st[start:stop:step] by default step size 1
#start = where from we start
#stop = it go upto but not including
#step= it took step between string
st="0123456789"
st[0:10:2]

'02468'

In [18]:
st="hemwati nandan bahuguna garhwal univercity srinagar garhwal uttarakhand"
st[0:10]

'hemwati na'

In [45]:
email="kuldeepprakash0@gmail.com"
start=email.index("@")
stop=email.index(".")
email[start+1:stop+1]

'gmail.'

In [49]:
email="kuldeepprakash0@gmail.com"
start=email.index("@")
domain=email[start+1:] 
print(domain)

gmail.com

In [20]:
name="hemwati nandan bahuguna garhwal univercity srinagar garhwal uttarakhand"

print(name[0:7])

hemwati

In [21]:
start=name.index("h")
stop=name.index("i")
name[start:stop+9]

'hemwati nandan '

In [22]:
a="kuldeep"
a.find("p")

6

In [ ]:
st="abcdefghijkl"
st.index("k")

In [23]:
a="ajdjhfhfjkp"
a.index("p")
# string function st. and press tab

10

In [77]:
st="kuldeep"
c=st.capitalize()
c

'Kuldeep'

In [82]:
st.isspace()

False

In [83]:
st.isdecimal()

False

In [84]:
st.isupper()

False

In [86]:
st.isspace()

False

In [87]:
st.islower()

True

In [88]:
st="25"
st.isdigit()

True

In [89]:
st="hello"
st.find("a")

-1

In [91]:
st.index("l")

2

## split function with string

In [93]:
email="kuldeep prakash0@gmail.com"
email.split()

['kuldeep', 'prakash0@gmail.com']

In [94]:
email="kuldeepprakash0@gmail.com"
email.split("@")

['kuldeepprakash0', 'gmail.com']

In [97]:
email="kuldeepprakash0@gmail.com"
email.split("@")[1]

'gmail.com'

In [98]:
email="kuldeepprakash0@gmail.com"
email.split("@")[1].split(".")

['gmail', 'com']

In [103]:
email="kuldeepprakash0@gmail.com"
email.split("@")[1].split(".")[0]

'gmail'

In [1]:
st="hello"
st.find("a")

-1

In [3]:
st.index("o")

4

In [4]:
st.find("o")

4

In [5]:
st.replace("l","t")

'hetto'

In [7]:
# show storage location 
id(st)

1907882881968

In [8]:
st="yes"
st.upper().startswith("Y")

True

In [9]:
st*5

'yesyesyesyesyes'

In [12]:
a="hi"
b=str(5)
a+b

'hi5'

In [13]:
a="hi"
b="5"
a+b

'hi5'

In [14]:
type(st)

str

In [17]:
var="dhoni"
run= 100
print(var,"has scored",run,"runs in last match")

dhoni has scored 100 runs in last match

In [20]:
var="hardik"
run=95
print("{} has scored {} runs in the last match".format(var,run))

hardik has scored 95 runs in the last match

# range() and for

In [38]:
# range(1,6,1)
range(6)

range(0, 6)

In [28]:
for i in range(3):
    print(i)

0
1
2

In [40]:
for i in range(3):
    print("set {}".format(i+1))
print("move to next")

set 1
set 2
set 3
move to next

In [42]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [46]:
for i in range(0,10,2):
    print("{} is even no".format(i))

0 is even no
2 is even no
4 is even no
6 is even no
8 is even no

In [47]:
for i in range(1,10,2):
    print("{} is odd no".format(i))

1 is odd no
3 is odd no
5 is odd no
7 is odd no
9 is odd no

In [51]:
for i in range(1,10,1):
    if i % 2 == 0:
        print("{} is even no".format(i))
    else:
        print("{} is odd no".format(i))

1 is odd no
2 is even no
3 is odd no
4 is even no
5 is odd no
6 is even no
7 is odd no
8 is even no
9 is odd no

In [59]:
n=0
for i in range(1,5,1):
    n=n+i
    print(n)

1
3
6
10

In [60]:
n=0
for i in range(1,5,1):
    n=n+i
print(n)

10

In [7]:
for row in range(4):
    for col in range(4):
        print("*",end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [8]:
for row in range(3):
    for col in range(6):
        print("*",end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *

In [18]:
for row in range(1,5+1):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [22]:
n=6
for row in range(1,n+1):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [27]:
n=4
k=1
for row in range(1,n+1):
    for col in range(1,k+1):
        print("*",end=" ")
    k+=2
    print()

*
* * *
* * * * *
* * * * * * *

In [35]:
n=4
for i in range(0,4):
    for j in range(0,n-i-1):
        print(end=" ")
    for i in range(i+1):  
        print("*",end=" ")
    print()

   *
  * *
 * * *
* * * *

In [47]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or (row==0 or row==3) and (col>0 and col<4):
        print("*",end=" ")
    else:
        print(end="  ")
    print()

IndentationError: expected an indented block (<ipython-input-47-a6e42cd41223>, line 4)